.navbar {
    padding: 10px 20px;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.leftSection {
    display: flex;
    align-items: center;
}

.companyLogo {
    width: 80px; /* Ajusta según sea necesario */
}

.desktopMenu {
    display: flex;
    align-items: center;
}

.desktopMenuListItem {
    color: #080808;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.desktopMenuListItem:hover {
    color: #000;
}

.desktopMenuBtn {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 4px;
    color: #111;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.desktopMenuBtn:hover {
    background-color: #ddb347;
}

.desktopMenuImg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.mobMenu {
    display: none;
    cursor: pointer;
    width: 30px; 
}

.navMenu {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.listItem {
    color: #666;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.listItem:hover {
    color: #000;
}

@media (max-width: 768px) {
    .desktopMenu, .desktopMenuBtn {
        display: none;
    }

    .mobMenu {
        display: block;
    }

    .navMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        border-top: 1px solid #eaeaea;
        padding: 10px 0;
    }
}
