/* Popular.css */

.popular {
  margin-top: 8rem;
}

@media (max-width: 768px) {
  .popular {
    margin-top: 4rem;
  }
}

.popular .container {
  margin: auto;
  padding: 0 20px;
}

.popular .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.popular h2 {
  color: var(--primary-text-color);
  font-family: var(--title-font);
  font-size: 2.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .popular h2 {
    font-size: 2rem;
  }
}

.popular .navigation {
  display: flex;
  gap: 20px;
}

.popular .navigation button {
  padding: 10px;
  border: none;
  background-color: #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popular .navigation button:hover {
  background-color: #ccc;
}

.popular .items .react-multi-carousel-track {
  gap: 20px;
}

.popular .items .item {
  background-color: var(--white);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
}

.popular .items .item .img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.popular .items .item .info {
  margin-top: 1rem;
}

.popular .items .item .info h3 {
  color: var(--primary-text-color);
  font-family: var(--title-font);
  font-size: 1.5rem;
}

.popular .items .item .info .stars {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  color: #ffd700; /* Gold color for stars */
}

.popular .items .item .info p {
  color: var(--secondary-color);
  margin-top: 10px;
}

.popular .items .item .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.popular .items .item .footer .price {
  color: var(--primary-text-color);
  font-family: var(--title-font);
  font-size: 1.25rem;
}

.popular .items .item .footer button {
  padding: 10px 20px;
  font-weight: 700;
  border: none;
  background-color: #0a0909;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popular .items .item .footer button:hover {
  background-color: #ccc;
}
